@font-face
	font-family Sharp
	src url(SharpGroteskBook20.otf)
	
html
	height 100%
	padding 0
	margin 0

body
	font-family Sharp
	background #000000
	color #ffffff
	width 100%
	height 100%
	margin 0
	padding 0
	overflow hidden
	#main
		position fixed
		width 100%
		height 100%