doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Jansky
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #main
    textarea#input(style='white-space:pre;')
        | MUSTELA MUSTELA
        | PALPENTES
        | LANGUAGE
        | PRIMERA LLIÇÓ
        | GENETS
        | ÉSSER ELÈCTRIC
        | COMMEDIA
        | LA MASOVERA SE'N VA A L'ESPAI
        | PORS SÓN FLORS
    script(src='js/main.js')